<div class="app-dashboard-webApp__footer">
  <ul class="app-dashboard-tabBar">
    <li class="app-dashboard-tabBar__item">
      <a class="app-dashboard-tabBar__item__a" href="" ui-sref="dashboard">Balances</a>
    </li>
    <li class="app-dashboard-tabBar__item">
      <a class="app-dashboard-tabBar__item__a" href="" ui-sref="send">Send</a>
    </li>
    <li class="app-dashboard-tabBar__item">
      <a class="app-dashboard-tabBar__item__a" href="">Receive</a>
    </li>
    <li class="app-dashboard-tabBar__item">
      <a class="app-dashboard-tabBar__item__a" href="">History</a>
    </li>
  </ul>
</div>