<!-- winnie: can the tab bar be a widget and dynamically list the items? -->

<div class="app-dashboard-webApp__footer">
  <ul class="app-dashboard-tabBar">
    <li class="app-dashboard-tabBar__item">
      <a class="app-dashboard-tabBar__item__a" href="" ui-sref="dashboard">Balances</a>
    </li>
    <li class="app-dashboard-tabBar__item">
      <a class="app-dashboard-tabBar__item__a" href="" ui-sref="send">Transfer</a>
    </li>
<!--     <li class="app-dashboard-tabBar__item">
      <a class="app-dashboard-tabBar__item__a" href="">Receive</a>
    </li> -->
    <li class="app-dashboard-tabBar__item">
      <a class="app-dashboard-tabBar__item__a" href="">History</a>
    </li>
  </ul>
</div>