<div class="app-dashboard-webApp__header" ng-controller="mcs-stellar-client.HeaderController as header">
  <div class="app-dashboard-webApp__header__row">
    <span class="app-branding"><a ui-sref="dashboard" class="app-branding__text">Stellar</a></span>
    <button class="s-button app-dashboard-headerSecondary" ng-click="dropdownVisible = !dropdownVisible">
      {{header.username}}: <strong>{{header.balanceSTR}} STR</strong> &nbsp; ▼
    </button>
  </div>

  <div class="app-headerDropdown">
    <div class="app-headerDropdown__content" ng-show="dropdownVisible">
      <div class="app-miniWidget-walletAddress">
        <strong>wallet address</strong>
        <div class="app-miniWidget-walletAddress-address">
          {{header.address}}
        </div>
      </div>
      <div class="app-miniWidget-balances">
        <div class="app-headerDropdown-row">
          <strong>balances</strong>
        </div>
        <div class="app-headerDropdown-row app-miniWidget-balances__balance" ng-repeat="balance in header.balances">
          <span class="app-miniWidget-balances__balance__code">{{balance.currency_code}}</span>
          <span class="app-miniWidget-balances__balance__amount">{{balance.balance}}</span>
        </div>
      </div>
      <div class="app-headerDropdown-row app-headerDropdown-row--padded app-headerDropdown-row--bordered">
        <strong><a href="" ui-sref="settings">go to settings</a></strong>
      </div>
      <div class="app-headerDropdown-row app-headerDropdown-row--padded app-headerDropdown-row--bordered">
        <div class="app-headerDropdown-row">
          <strong><a href="" ng-click="header.logout()">log out</a></strong>
        </div>
      </div>
    </div>
  </div>
</div>
