<div class="app-dashboard-webApp">
  <ng-include src="'interstellar-client/_header'"></ng-include>
    <div class="app-dashboard-webApp__content">
      <div class="S-flex-col app-transfer-container">
        <interstellar-network-widgets-send class="S-flexItem-1of2"></interstellar-network-widgets-send>
        <interstellar-network-widgets-receive class="S-flexItem-1of2"></interstellar-network-widgets-receive>
        <interstellar-network-widgets-trustlines></interstellar-network-widgets-trustlines>
      </div>
    </div>
  <ng-include src="'interstellar-client/_footer'"></ng-include>
</div>
