/* header */

// kelp-library-bundle
@import "kelp/lib/index";
@import "kelp-theme-sdf/lib/index";

// kelp-css-bundle
@import "kelp/styles/index";
@import "kelp-theme-sdf/styles/index";

// app-dashboard
// it is position fixed so that the header bar doesn't cover things up on mobile
html {
  overflow: hidden; // disable elastic scrolling
}
.app-dashboard-webApp {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @include K-flex-col;
}
.app-dashboard-webApp__header {
  @include K-flex-row;
  height: $k-scale-c;
  border-bottom: 1px solid $k-color-F;
  justify-content: space-between;
}
.app-dashboard-headerAux {
}
.app-dashboard-logo {
}
.app-dashboard-webApp__popDown {
  background: $k-color-C;
}
.app-dashboard-webApp__content {
  flex: 1;
  height: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.app-dashboard-tabBar {
  @include K-flex-row;
  border-top: 1px solid $k-color-F;
}
.app-dashboard-tabBar__item {
  flex: 12;
  list-style-type: none;
}
.app-dashboard-tabBar__item__a {
  display: block;
  width: 100%;
  border-bottom: 4px solid transparent;
  line-height: $k-scale-up3raw;

  text-align: center;
  text-transform: uppercase;
}
.app-dashboard-tabBar__item__a:hover {
  border-bottom: 4px solid $k-color-F;
}
